@{
    ViewBag.Title = "Index";


    ViewBag.Index = "00";
    Layout = "~/Views/Shared/_LayoutNLcq.cshtml";
    }



@helper NavSelect(string menu) { 
    
  
    string url = this.Request.Url.AbsolutePath;
    url = url.ToLower();
 

    if (url.Equals(menu))
    {

        Output.Write(@"id='cnselected'");
       
    }
    
    
    
    
    }
<link href="~/Content/web/css/cmember.css" rel="stylesheet" />

<div class="cmember">

    <div class="clear" style="height:10px;"></div>






    <div><h2>用户中心</h2> </div>

    <div class="clear" style="height:10px;"></div>
    <div class="cmtop">
        <div class="cmone">

            <div class="clear" style="height:20px;"></div>
            <div class="cm">
                <strong>个人信息管理</strong>
                <a href="/member/cmember" @(NavSelect(NModel.EnWeb.WebMemberCmember)) >站内消息</a>

                <a href="/member/PersonalData" @(NavSelect(NModel.EnWeb.WebMemberPersonalData))>修改个人资料</a>

                <a href="/member/editpw" @(NavSelect(NModel.EnWeb.WebMemberEditPw))>修改登录密码</a>
                <a href="/member/hd" @(NavSelect(NModel.EnWeb.WebMemberHd))>更改头像图片</a>

                <strong style="width:80px;">财务管理</strong>

                <a href="/member/account" @(NavSelect(NModel.EnWeb.WebMemberAccount))>账目明细</a>
                <a href="/member/extension" @(NavSelect(NModel.EnWeb.WebMemberExtension))>推广赚钱</a>
                <a href="/member/recharge" @(NavSelect(NModel.EnWeb.WebMemberRecharge))>账号充值</a>
                <a href="/member/mentionnow" @(NavSelect(NModel.EnWeb.WebMemberMentionNow))>提现(停止)</a>
                <div class="clear  "></div>
            </div>

            <div class="clear  clearbottom"></div>
        </div>


        <div class="cmtwo">

            <div class="cm">
                <strong>卖家管理</strong>


                <a href="/member/releasematerial" @(NavSelect(NModel.EnWeb.WebMemberReleaseMaterial))>发布素材</a>
                <a href="/member/sellmaterial" @(NavSelect(NModel.EnWeb.WebMemberSellMaterial))>出售中素材</a>
                <a href="/member/sell_material" @(NavSelect(NModel.EnWeb.WebMemberSell_Material))>卖出素材</a>

                <a href="/member/stop_sell_material" @(NavSelect(NModel.EnWeb.WebMemberStop_Sell_Material))>停卖素材</a>

                <strong style="width:80px;">买家管理</strong>




                <a href="/member/buyingmanagement" @(NavSelect(NModel.EnWeb.WebMemberBuyingManagement))>买入管理</a>

            </div>
            <div class="clear  clearbottom"></div>
        </div>

    </div>
    <div class="clear"></div>

    @RenderBody()




</div>



