@{
    ViewBag.Title = "Index";


    ViewBag.Index = "00";
    Layout = "~/Views/Shared/_LayoutNMember.cshtml";



}

@model NModel.NewsPager



@{
    string rmsg = this.Request.QueryString["msg"];

    string rselect1 = "", rselect2 = "", rselect3 = "", isShow1 = "", isShow2 = "", isShow3 = "";
    switch (rmsg)
    {
        case "all":
            rselect1 = "id=selectedcnheader";

            isShow1 = "";
            isShow2 = "style=display:none;";
            isShow3 = "style=display:none;";

            break;
        case "user":
            rselect2 = "id=selectedcnheader";
            isShow1 = "style=display:none;";
            isShow2 = "";
            isShow3 = "style=display:none;";
            break;

        case "sys":

            rselect3 = "id=selectedcnheader";

            isShow1 = "style=display:none;";
            isShow2 = "style=display:none;";
            isShow3 = "";
            break;

        default:
            rselect1 = "id=selectedcnheader";

            isShow1 = "";
            isShow2 = "style=display:none;";
            isShow3 = "style=display:none;";
            break;
    }

}

<div class="cmcenter">
    <div class="cmheader">
        <div class="cmheadermsg"><a href="#">个人信息管理</a> » <a> 站内消息</a></div>
        <div class="clear" style="height:15px;"></div>


        <div class="cmheader">


            <span class="cmspan">
                <div class="cmheadersearch">

                    <input type="text" class="cmheadertxtsearch" style="border:1px solid #d9d9d9;height:28px;width:250px;line-height:28px" />
                    <input type="button" value="搜索" style="border:1px solid #d9d9d9;width:50px; height:28px" />

                </div>



                <div class="cmheaderbtn">
                    <input type="button" value="清除所有消息" style="border: 1px solid #38A4E0; width: 100px; height: 28px; float: right; margin-left: 10px; " />
                    <input type="button" value="发送消息" style="border: 1px solid #38A4E0; width: 100px; height: 28px; float: right; " />

                </div>

            </span>
        </div>


        <div class="clear"></div>
        <div class="cmheadercn">





            <div class="cmheadertop">



                <span style="margin-left:20px; " @(rselect1)>

                    <a href="?msg=all">
                        所有消息

                    </a>
                </span>

                <span @(rselect2)>
                    <a href="?msg=user">

                        用户消息
                    </a>

                </span>
                <span @(rselect3)>

                    <a href="?msg=sys">
                        系统消息
                    </a>

                </span>
            </div>




            <ul class="cmul" @(isShow1)>

                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png">
                                </a>
                            </td>
                            <td width="10px;"></td>
                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    我是开源中国社区OsChina的站长红薯，非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>

                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png" ">
                                </a>
                            </td>

                            <td width="10px;"></td>
                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    我是开源中国社区OsChina的站长红薯，非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>
                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png">
                                </a>
                            </td>
                            <td width="10px;"></td>

                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    我是开源中国社区OsChina的站长红薯，非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>




            </ul>

            <ul class="cmul" @(isShow2)>

                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png">
                                </a>
                            </td>
                            <td width="10px;"></td>
                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    开源中国社区OsChina的站长红薯，非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>

                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png" ">
                                </a>
                            </td>

                            <td width="10px;"></td>
                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>
                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png">
                                </a>
                            </td>
                            <td width="10px;"></td>

                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>




            </ul>

            <ul class="cmul" @(isShow3)>

                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png">
                                </a>
                            </td>
                            <td width="10px;"></td>
                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    OsChina的站长红薯，非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>

                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png" ">
                                </a>
                            </td>

                            <td width="10px;"></td>
                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>
                <li>



                    <table class="cnmsg">
                        <tr>

                            <td>
                                <a target="_blank" href="http://my.oschina.net/osadmin">
                                    <img align="absmiddle" user="1" class="SmallPortrait"
                                         title="oschina" alt="oschina"
                                         src="/Content/web/img/LogoIcon.png">
                                </a>
                            </td>
                            <td width="10px;"></td>

                            <td>
                                <div class="msg">
                                    <a target="_blank" href="http://my.oschina.net/osadmin">oschina</a>：您好，
                                    我是开源中国社区OsChina的站长红薯，非常欢迎您的加入。OsChina是一个提供全面、
                                    快捷更新的用来检索开源项目以及交流使用经验的平台，如果您有任何的意见和建议请直接跟我联系。
                                    再次感谢您对开源中国社区的支持，我们倡议：

                                </div>
                                <div class="bottom">
                                    <span class="date">
                                        3年前
                                    </span>
                                    <span class="opts">
                                        <a href="javascript:sendmsg(1,0)">回复</a> |
                                        <a href="">共有1条消息</a> |
                                        <a href="javascript:deleteMsgs(558911,1,'oschina')">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>


                    </table>

                </li>




            </ul>
        </div>

    </div>


</div>