@{
    ViewBag.Title = "list";

    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

@model NModel.NewsPager
@using Webdiyer.WebControls.Mvc;
<div class="erji">

    @{var newsClassify = Model.IDictMenu["新闻分类"];
    var newsListPager = Model.IDctPagedNews["新闻列表"];

    }

    @{ foreach (var model in newsClassify)
     {
         bool iSelect = ViewBag.nIndex == model.Menu_Num;
         if (iSelect)
         {
            <a class="ac" href="/news/list/@(model.Menu_Num)">@(model.Menu_Name)</a>
         }
         else
         {
            <a href="/news/list/@(model.Menu_Num)">@(model.Menu_Name)</a>
         }
     } }
</div>

<div class="box">
    <div class="left fl">
        <h2>
            @*<span class="daohang"><a href="http://www.你找谁.comhttp//www.你找谁.com"></a> &gt; <a href="http://www.你找谁.com/zp/">招聘</a> &gt; <a href="http://www.你找谁.com/zhichangzixun/">职场资讯</a> </span>*@
        </h2>
        <ul class="pdlist">

            @{
                if (newsListPager != null)
                {
                    foreach (var list in newsListPager)
                    {

                        <li>
                            <p>
                                <span>@(list.News_AddTime) 阅读(@(list.News_ClickRate))</span><a target="_blank" href="/news/Detailed/@(list.News_ID)"><strong>@(list.News_Title)</strong></a>
                            </p>
                            <p class="f12">
                                @(Tool.NFactory.NohtmlStrFormat((list.News_Summary + ""), 80, ""))
                                <a target="_blank" href="/news/Detailed/@(list.News_ID)" rel="nofollow">[详情]</a>
                            </p>
                        </li>

                    }
                }}
        </ul>
        <p class="paging mar_t30">

            @Html.Pager(newsListPager, new PagerOptions
       {
           PageIndexParameterName = "pageindex",
           FirstPageText = "<<",
           LastPageText = ">>",
           NextPageText = ">",
           PrevPageText = "<",
           ContainerTagName = "ul",
           CssClass = "pagination pagination-sm",
           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
           DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>"
       })
        </p>
        <p></p>
        <!-- 热门职位推荐 start -->
        <!-- 热门职位推荐 end -->
    </div>
    @Html.Partial("_PartialNewsRight")
</div>